function quiz(params)
{    
    var target = params.target;
    var userId = params.user;
    var questionId;
    
    $.ajax({
            url: '<%=baseUrl%>' + userId + '/get-question',
            dataType     : 'jsonp',
            jsonpCallback: '__parseJSONPResponse',
            cache        : false,
            success: function(data){
                $(target).append('<span class="quiz_validation"></span>');
                if(data.error === 'Nenhuma enquete encontrada') return;
                if(data.error !== '') $('.quiz_validation').html('Ocorreu um erro no processamento do quiz.');
                
                questionId = data.question._id;
                
                $(target).append("<span class='question'><span class='title'>Enquete:</span>" + data.question.question + "</span>");                
                params.view(questionId);

                var answers = data.question.answers;
                var size = answers.length;                
                
                for(var i = 0; i < size; i++){
                    $(target).append("<span class='answer'><input type='radio' name='quiz_answer' id='quiz_answer" + i + "' value='" + answers[i]._id + "' />" + answers[i].value + "</span>");
                    $('#quiz_answer'+i).click(function(e){
		        params.change(questionId,$(this).val());
		    });
		}

                $(target).append("<span class='send'><input type='button' id='quiz_send' name='quiz_send' value='Responder' /></span>");
                
                $(target).fadeIn('slow');
                
                $('#quiz_send').click(function(){
		    var option = $('[name = "quiz_answer"]:checked').val();
		    console.log(option);
                    params.submit(option);
                    $.ajax({
                        url: '<%=baseUrl%>' + userId + "/answer-question/" + questionId + "/" + $('[name = "quiz_answer"]:checked').val(),
                        dataType     : 'jsonp',
                        jsonpCallback: '__parseJSONPResponse',
                        cache        : false,
                        success: function(data){
                            if(data.error !== '') $('.quiz_validation').html(data.error);
                            else{
			        $(target).html('<span class="follow_up">Muito obrigado pela sua resposta!<br />Falando em vendas, recomendamos o artigo 3 dicas de acoes para te dar resultados rapidos no marketing da sua empresa. Para ler, clique <a href='http://www.saiadolugar.com.br/marketing/video-quais-pequenas-alteracoes-no-marketing-podem-trazer-resultados-rapidos' target='_blank'>aqui</a>.</span>');

				$('#follow_up_poll').click(function(){
				    params.followup(questionId, option);
				});
		            }
                        }
                    });
                });
            }
        });    
    
    return true;
};
